<div class="card mb-2"
  *ngFor="let task of tasks">
  <div class="card-body">
    <div (click)="removeTask(task)"
      class="del-task-btn text-muted">
      <i class="far fa-times"></i>
    </div>

    {{ task.title }}
  </div>

  <div class="card-footer text-right small text-muted">
    <i class="far fa-user mr-2"></i>
    {{ task.user.username }}
  </div>
</div>

<form autocomplete="off">
  <div class="form-group">
    <input type="text"
      class="form-control"
      placeholder="Add task..."
      name="newTaskTitle"
      #newTaskTitleInput
      (keydown.enter)="addTask()"
      [(ngModel)]="newTaskTitle" />
  </div>
</form>